/* Begin Estilo Texto */
.text-body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #5A5A5A;
}

h1, h2, h3, h4 {
    color: #00ABBD;
}

hr {
    border-width: 2px;
    border-color: #00ABBD;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0px;
}

/* End Estilo Texto */

/* Begin layout conteudo */
.margemtopmenu {
    margin-top: 112px;
}

.margemtoplogin {
    margin-top: 160px;
}

.margemtopconteudo {
    margin-top: 118px;
}

.graphpadding {
    padding-left: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.operacoes {
    float: right;
    font-size: 11px;
}

.operacoes .glyphicon {
    color: #00ABBD;
}

.operacoes a{
    color: #00ABBD;
    margin-left:16px;
}

.modal-adicionar
{
    text-align: right;
    margin-top: -10px;
}

.modal-header {
    padding-top: 0px;
    padding-bottom: 0px;
}

.modal-footer {
    border-top: 2px solid #00ABBD;
    margin-top: -10px;
    border-top: 1px solid #E5E5E5;
}


.modal-fixed {
    position: fixed;
    width: 478px;
}


.filtro {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-block {
}

textarea {
    resize: none;
}

.main-block-header {
    border-bottom: 1px solid #00ABBD;
    color: #F07D00;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0px 0px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .main-block-header a {
        /*color: Gray;*/
        outline: none;
    }

    .main-block-header:hover {
        cursor: default;
    }

    .main-block-header .icon {
        color: #00ABBD;
        margin-right: 10px;
    }

.main-block .accaolink {
    display: block;
    color: Gray;
    text-decoration: none;
}

.main-block-body {
    padding-top: 10px;
}


.table-hover tbody tr[id]:hover {
    cursor: pointer;
}

.checkbox {
    min-height: 12px;
}

.footer {
    text-align: right; 
    border-top: 1px solid #E5E5E5;
    padding-top: 14px;
    margin-bottom: 0px;
}
/* End layout conteudo*/


.separadorvertical:not(:last-child) {
    border-right: 1px solid black;
}
.separadorvertical:not(:first-child){
        padding-left: 10px;
}
.separadorvertical {
    padding-right: 10px;
}

.datepicker {
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #4cae4c;
    border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #3e8c3e;
}

/* Begin Login */
.user-login-info {
    text-align: right;
    display: block;
    margin-top: 20px;
}

    .user-login-info .glyphicon {
        padding-right: 10px;
    }

    .user-login-info .accaolink {
        color: #00ABBD;
        font-weight: bold;
        /*margin-bottom: 20px;*/
    }

    .user-login-info .nomeutilizador {
        color: #00ABBD;
        font-weight: 300;
    }

    .user-login-info .nomeutilizadorlink {
        padding-top: 4px;
        /*margin-bottom: 10px;*/
    }
/* End Login */


/*Begin Header Section*/
.Logo {
    content:url("../Images/LogoDemo.png");
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .Logo {
        background-image: url('../Images/LogoDemo.png');
        background-repeat: no-repeat;
    }
}

@supports (-ms-accelerator:true) {
    .Logo {
        background-image: url('../Images/LogoDemo.png');
        background-repeat: no-repeat;
    }
}

.Logo:after{
     content:url("../Images/Logo2.png");
}

.header-title {
    font-size: x-large;
    color: #00ABBD;
    margin: 40px 0 0 30px;
}
/*End Header Section*/

/*Begin Menu Desktop*/
ul.menu li {
    color: #5A5A5A;
    margin-top: 1px;
    cursor: pointer;
    border: 1px solid #DDD;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
    opacity: .8;
    padding: 0px;
    text-decoration: none;
}

ul.menu li:hover {
    /*background-color: #00ABBD;*/
    color: white;
    opacity: 1;
}

ul.menu li.active
{
    font-weight: 600;
    color: #F07D00;
    background-color: #F5F5F5;
    opacity: 1;
}

ul.menu li.active .glyphicon
{
    font-weight: bold;
    color: #00ABBD;
    opacity: 1;
}

ul.menu li.active:hover {
    font-weight: bold;
    /*background-color: #00ABBD;*/
    color: white;
}

ul.menu li.active:hover .glyphicon {
    color: white;
}

ul.menu li a {
    color: inherit;
    display: block;
    height: 100%;
    padding: 10px 5px 10px 5px;
    outline: none;
    text-decoration: none;
}

ul.menu li span.glyphicon { margin-right: 10px; }

.list-group-item.active
{
    border: 1px solid #DDD;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  border-color: #DDD;
}
/*End Menu Desktop*/

/*Begin Menu Mobile*/
.navbar {
    margin-bottom: 20px;
}

.navbar-default {
    background-color: #fff;
    border-color: #00ABBD;
}

.navbar-fixed-top {
    position: absolute;
    border-width: 0 0 10px;
}

.nav.navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-header {
    border-color : gray;
    background-color: #00ABBD;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a > i {
    margin-right: 10px;
}

.navbar-default .navbar-nav > li {
    background-color: #FFFFFF;
    border-top: solid 1px #DDDDDD;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    font-size: 1.1em;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}
/*End Menu Mobile*/

/* Begin Icons Menu */
.glyphicon {
    font-size: 15px;
    margin-right: 5px;
    top: 3px;
}

.icon-default:before {
    content: "\e021";
}

.icon-horariobase:before {
    content: "\e065";
}

.icon-horarioefetivo:before {
    content: "\e011";
}

.icon-pessoa:before {
    content: "\e043";
}

.icon-comunicacao:before {
    content: "\2709";
}

.icon-departamento:before {
    content: "\e042";
}

.icon-analise:before {
    content: "\e003";
}

.icon-relatoriosemanal:before {
    content: "\e032";
}

.icon-relatoriomensal:before {
    content: "\e032";
}

.icon-gestaotv:before{
    content: "\e187";
}

.icon-gestaokiosk:before{
    content: "\e145";
}

.icon-gestaozona:before{
    content: "\e062";
}
.icon-consulta:before {
  content: "\e137";
}

.icon-streamtv:before{
    content: "\e059";
}

.icon-prestador:before {
  content: "\e032";
}

.icon-utilizador:before {
    content: "\e008";
}

.icon-equipa:before {
    content: "\e019";
}

.icon-dadosmestre:before {
    content: "\e019";
}

.icon-programacao:before{
    content: "\e109";
}
.icon-conteudo:before{
    content: "\e059";
}
/* End Icons Menu */

/* Begin detalhe utilizador*/
.selectorequipa {
    margin-top: 3px;
    margin-right: 3px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}

    .selectorequipa a {
        margin-left: 5px;
        margin-right: -5px;
    }

/* Begin validação do MVC*/
.field-validation-error {
    color: #a94442;
    font-size: 11px;
}

.input-validation-error {
    border: 1px solid #a94442 !important;
}

/* End validação do MVC */

/*Begin Responsive*/
@media (max-width: 479px) {
    .margemtopmenu {
        margin-top: 90px;
    }
    .margemtopconteudo {
        margin-top: 10px;
    }

}

@media (min-width: 479px) and (max-width: 767px) {
    .margemtopmenu {
        margin-top: 90px;
    }
    .margemtopconteudo {
        margin-top: 10px;
    }


}

@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (min-width: 992px) {
    .vistaCalendario .col-md-2 {
        width: 20%;
    }
    .nopaddingrow:not(:first-child):not(:last-child)  {
        padding-left: 0px;
        padding-right: 0px;
    }
    .nopaddingrow:first-child {
        padding-right: 0px;
    }
    .nopaddingrow:last-child{
        padding-left: 0px;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 70px 15px #000;
                box-shadow: 0 5px 70px 15px #000;
    }
}
/*End Responsive*/

/* Begin Firefox hack para as tabelas responsive do bootstrap */
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
/* End Firefox hack*/

/*Begin FontAwesome*/
.fa {
    margin-right: 3px;
    font-size: 15px !important;
}
/*End FontAwesome*/


/*spiiner*/

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
 
  
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
  
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
 
}
.input-group-btn-vertical span{
  position: absolute;
  top: 1px;  
  left:1px;
}
.ajuda { color: darkorange; }

.validation-summary-errors { color: #a94442;}

#sortableList {
        border: 1px solid #eee;
        width: 100%;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }

    #sortableList li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 99.4%;
    }

    #liHeader {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
        border: 1px solid #eee;
        width: 100%;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        float: left;
        margin-right: 10px;
        font-weight: bold;
        background-color: #f9f9f9;
    }

    .connectedSortable .oddItem {
        background-color: #f9f9f9;
        width: 99.5%;
    }

    .connectedSortable .evenItem {
        background-color: white;
        width: 99.5%;
    }




        #iddivvideo {
        position: relative;
    }

    .videoContainer {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: block;
    }